<style>

.logo-name {
    padding-top: 20px !important;
    margin-left: -10px !important;
}

.logo-tit2 {
    margin-left: -9px !important;
    padding-top: 10px !important;
}

.main-nav ul ul {
    text-align: left !important;
    margin-left: 20px !important;
}

.main-nav ul ul li {
    width: 15rem !important;
}


/** LINKS  **/
a {
    color: #4C1A05 !important;
}

/** LINKS (HOVER) **/
a:hover {
    color: #BF8F56 !important; 
}

/** COR DAS LETRAS DA BARRA DE ADMIN **/
#wpadminbar, #wpadminbar * {
    color: #ffffff !important;
}

/** MENU **/
.main-nav li {
    background-color: #4C1A05 !important;
    padding-left: 17.5px !important;
    padding-right: 17.5px !important;
}

/** LETRAS DO MENU (SEM HOVER) **/
.main-nav li a {
    color: #ffffff !important;
    letter-spacing: 1px !important;
}

/* LETRAS DO MENU (HOVER) **/
.main-nav li a:hover {
    color: #CFCDC5 !important;
}

/** COR DAS LETRAS DOS SUB-MENUS (SEM HOVER) **/
.main-nav ul ul li a, .main-nav ul ul .current-menu-item:hover > a, .main-nav ul ul .current-menu-item > a {
    color: #ffffff !important;
}

/** BARRINHA DEBAIXO DO MENU **/
.main-nav {
    border-bottom: 2px solid #ffffff !important;
}

/** POSIÇÃO DO MENU **/
.main-nav {
    margin-left: 15px !important;
}

/** BARRA EMBAIXO DE CADA SUB-MENU **/
.main-nav ul li a, .main-nav ul .current-menu-item:hover > a {
    border-bottom: 3px solid #BF8F56 !important;
}

/** BARRA EMBAIXO DE CADA SUB-MENU (QUANDO SELECIONADO) **/
.main-nav ul .current-menu-item > a {
    border-bottom: 3px solid #CFCDC5 !important;
}

/** THUMBNAIL DAS NOTÍCIAS SECUNDÁRIAS **/

/** TÍTULO DAS PÁGINAS **/
.entry-title {
    color: #4C1A05 !important;
}

/** TÍTULO DOS WIDGETS CENTRAIS **/
.widget-title a {
    color: #4C1A05 !important;
}

/** LINHA DO TOPO DA PAGINA **/
.header-wrap {
    margin: 0 0px !important;
    border-top: 5px solid #FFF !important;
}

/** TITULO DOS WIDGETS LATERAIS **/
.widget-title {
    color: #4C1A05 !important;
}

/** TITULO DOS WIDGETS DO RODAPE **/
.footer-widget-title {
    color: #4C1A05 !important;
}

/** TITULO DO SLIDER **/
.slide-title {
    color: #4C1A05 !important;
}

.flex-direction-nav a {
    opacity: 0 !important;
    color: #4C1A05 !important;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2) !important;
}

.flexslider:hover .flex-prev {
    opacity: 1 !important;
}

.flexslider:hover .flex-next {
    opacity: 1 !important;
}

/** ESPAÇAMENTO DOS WIDGETS **/
.sb-widget, .footer-widget {
    margin-bottom: 1rem !important;
}

/** BARRA do RODAPÉ **/
footer {
    border-top: 5px solid #4C1A05 !important;
}

/** WIDGET DE POSTS **/
.cp-large {
    margin-right: 30px !important;
    margin-bottom: 20px !important;
}

/** LISTA DO WIDGET DE POSTS **/
.cp-large, .cp-list {
    float: none !important;
}

.cp-list {
    margin-top: 20px !important;
}

.cp-list .mh-excerpt {
    margin-bottom: -15px !important;
}

/** TITULO WIDGET DE POSTS **/
.cp-large-title {
    font-size: 21px !important;
    line-height: 1 !important;
    margin-top: -22px !important;
    margin-bottom: 8px !important;
    text-align: left !important;
}

/** PREVIA do WIDGET DE POSTS **/

.clearfix {
    font-size: 18px !important;
    text-align: justify !important;
}

.meta-author {
    font-size: 0 !important;
}

.meta-tags {
    margin-left: -10px !important;
}

</style>
